.container {
    padding: 2rem;
}

.content {
    margin-bottom: 1rem;
    display: grid;
    gap: 1rem;
}

.content h1 {
    font-size: x-large;
}

.content h3 {
    opacity: 0.7;
    font-size: medium;
    font-weight: lighter;
}
 
.episodes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    gap: 1rem;
    justify-self: flex-end;
}

.card {
    opacity: 0.5;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.card:hover {
    opacity: 1
}

.selected {
    opacity: 1;
}

@media (min-width: 1024px) {
    .container {
        padding: 5rem;
    }

    .content h3 {
        font-size: large;
    }
}

@media screen and (min-width: 800px) {
    .container {
        display: grid;
        grid-template-areas: 
            "content episodes"
            "commentsSection episodes"
        ;
        gap: 1rem;
    }

    .commentsSection {
        grid-area: commentsSection;
    }

    .content {
        grid-area: content;
    }

    .episodes {
        grid-area: episodes;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        height: 100vh;
        padding: 1rem;
    }
}