.container {
    padding: 2rem;

    display: grid;
    gap: 2rem;
}

.content {
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: grid;
    gap: 1rem;
}

.content h1 {
    font-size: x-large;
}

.content h3 {
    opacity: 0.7;
    font-size: medium;
    font-weight: lighter;
}

.countdown {
    text-align: center;
}

@media (min-width: 1024px) {
    .container {
        padding: 5rem;
    }

    .content h3 {
        font-size: large;
    }
}

@media screen and (min-width: 800px) {
    .grid {
        display: grid;
        grid-template-areas: 
            "content episodes"
            "commentsSection episodes"
        ;
        gap: 1rem;
    }

    .commentsSection {
        grid-area: commentsSection;
    }

    .content {
        grid-area: content;
    }

    .episodes {
        grid-area: episodes;
    }
}

@media only screen and (max-device-width: 480px) {
    .container {
        display: block;
    }
    
    .episodes {
        flex-direction: row;
        padding: 0 1rem;
    }
}