.container {
    position: absolute;
    z-index: 99;

    display: flex;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    text-align: center;
}

.text {
    font-size: larger;
}

@media screen and (max-width: 500px) {
    .text {
        font-size: smaller;
    }
}