.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: var(--primary);
}

.text {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
}

.text h1 {
    color: var(--secondary);
    -webkit-filter: drop-shadow(0 0 5px var(--darkSecondary));
    filter: drop-shadow(0 0 5px var(--darkSecondary));
    font-size: xx-large;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.text h1:hover {
    -webkit-filter: drop-shadow(0 0 10px var(--darkSecondary));
    filter: drop-shadow(0 0 10px var(--darkSecondary));
}

.text div:first-of-type {
    opacity: 0.7;
    font-weight: lighter;
}

.contact {
    display: grid;
    place-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.contact h1 {
    font-size: larger;
}

.contact h3 {
    font-weight: lighter;
    margin-bottom: 1rem;
    font-size: medium;
}


.iconsContainer {
    /* border: 1px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.iconsContainer img {
    /* border: 1px solid yellow; */
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.iconsContainer img:hover {
    opacity: 1;
}

/* aspect ratio dont work */
.iconsContainer a {
    --same: 50px;
    width: var(--same);
    height: var(--same);
    padding: 0.5rem;
    display: grid;
    place-items: center;
    border-radius: 20%;
}

.copyright {
    text-align: center;
    background-color: var(--primary);
    padding-bottom: 2rem;
}

.copyright,
.copyright * {
    color: hsla(0, 0%, 100%, 0.7);
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.copyright a:hover {
    color: white;
    -webkit-filter: drop-shadow(0 0 1px white);
    filter: drop-shadow(0 0 1px white)
}

@media (min-width: 720px) {
    .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .text {
        text-align: left;
        position: relative;
        translate: 0 50px;
    }

    .iconsContainer {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
}