.onEdit {
    width: 100%;
    max-height: 25ch;
    display: grid;
    gap: 1rem;
}

.onEdit textarea {
    background-color: transparent;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    resize: none;
    border: none;
    border-bottom: 5px dashed var(--darkSecondary);
    padding: 2rem 0;
}

.onEdit textarea:focus {
    outline: none;
}

.btnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
}