.container {
    width: 100%;
    padding: 0 1.5rem;
    display: grid;
    gap: 2rem;
}

.text {
    font-size: x-large;
}

.text p {
    margin-top: 0.5rem;
    font-size: medium;
    opacity: 0.7;
}

.username {
    color: var(--secondary)
}

.animes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    gap: 1rem;
    width: 100%;
    /* border: 1px solid red; */
    scroll-snap-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btnContainer {
    width: 70%;
    /* border: 1px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 0.5rem;
}

.btnContainer button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
}

.formContainer {
    display: grid;
    place-items: center;
}

.formContainer button:first-of-type {
    background-color: var(--secondary);
    opacity: 1;
}