.container {
    width: 100%;
    padding: 0 1.5rem;
    display: grid;
    gap: 2rem;
}

.animes {
    margin-top: 1rem;
}

.text * {
    font-size: 3rem !important;
}

.text p {
    margin-top: 0.5rem;
    font-size: medium !important;
    opacity: 0.7;
    font-weight: lighter;
}

.username {
    color: var(--secondary)
}

.animes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    gap: 1rem;
    width: 100%;
    /* border: 1px solid red; */
    scroll-snap-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btnContainer {
    width: 100%;
    /* border: 1px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 0.5rem;
}

.btnContainer button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 125px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
}

.btnContainer button * {
    font-size: medium;
}

.formContainer {
    display: grid;
    place-items: center;
}

.formContainer button:first-of-type {
    background-color: var(--secondary);
    opacity: 1;
}

@media (max-width: 640px) {
    .text * {
        font-size: 2rem !important;
    }

    .btnContainer button {
        width: 100px;
    }
    
    .btnContainer button * {
        font-size: small;
    }
}

@media only screen and (max-device-width: 480px) and (orientation: landscape) {
    .container {
        padding: 1rem;
        gap: 0;
    }

    .saves {
        scale: 0.8;
    }

    .btnContainer {
        padding-bottom: 2.5rem;
    }
}