/*
  Note to self: set dialogs' margin to auto
  otherwise it will break
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* For some reason some texts arent inheriting */
  font-family: inherit;
  font-size: medium;
  font-weight: bold;
}

:root {
  --primary: hsl(0, 0%, 8%);
  --secondary: hsl(281, 57%, 65%);
  --lightPrimary: hsl(0, 0%, 13%);
  --darkSecondary: hsl(281, 31%, 47%);
}

html {
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  background-color: hsl(281, 5%, 7%);
}

a {
  text-decoration: none;
  color-scheme: dark;
  color: white;
}

a:visited {
  color: white;
}

a:active {
  opacity: 0.5;
}

/* Set up individual dialog[open] for their use cases */
/* 
    Dialog has: 
    margin: auto
    padding: 1rem (?)
    display: none (when closed)
            something??? (open)
            -> dont set display directly to dialog
            -> set it by dialog[open] to prevent it breaking
*/
dialog {
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  border: 0;
  background-color: var(--primary);
  padding: 2rem 0;
  position: fixed !important;
}

dialog::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
}

/* Sacrifice tabindex visibility */
dialog *:focus-visible {
  outline: none;
}

button {
  padding: 0.25rem 0.75rem;
  background-color: var(--lightPrimary);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  font-weight: lighter;
  font-size: medium;
}

button:hover {
  scale: 0.97;
}

button:active {
  scale: 0.9;
}

.comment {
  padding: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.error,
.notFound {
  width: 100%;
  height: 80vh;
  position: relative;
  display: grid;
  place-items: center;
}

.notFound {
  grid-template-areas:
    "Four"
    "text"
  ;
}

.notFound img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.notFound img {
  width: clamp(250px, 40%, 390px);
  aspect-ratio: 793 / 849;
}

.error h1,
.notFound h1 {
  position: absolute;
  color: var(--darkSecondary);
  z-index: -1;
}

.notFound h1 {
  grid-area: Four;
  scale: 9;
  bottom: 0;
}

.errorText,
.notFoundText {
  position: absolute;
  text-align: center;
  z-index: 2;
  -webkit-filter: drop-shadow(0 0 10px #000000);
  filter: drop-shadow(0 0 10px #000000);
}

.notFoundText {
  display: grid;
  grid-area: text;
  gap: 0.5rem;
  top: -25px;
}

.errorText h2,
.notFoundText h2 {
  font-size: xx-large;
}

.notFoundText div {
  font-weight: lighter;
  opacity: 0.9;
}

.notFoundText a {
  color: var(--secondary)
}

.errorOverlay,
.notFoundOverlay {
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.error {
  height: 100vh;
}

.error h1 {
  scale: 3;
  top: 45%;
  z-index: 2;
  -webkit-filter: drop-shadow(0px 0px 40px var(--darkSecondary));
  filter: drop-shadow(0px 0px 40px var(--darkSecondary));
  color: var(--secondary)
}

.errorText {
  display: grid;
  gap: 0.5rem;
  top: 55%;
}

.errorBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  scale: 1.2;
}

.errorBtns > button {
  opacity: 0.5;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background-color: var(--darkSecondary);
}

.errorBtns > button:hover {
  scale: 0.97;
  opacity: 1;
}

.errorBtns > button:active {
  scale: 0.9
}

.errorText h2 {
  scale: 0.8;
  opacity: 0.5;
}


@media (min-width: 720px) {
  .notFound h1 {
    scale: 15;
  }

  .notFoundText {
    scale: 1.5;
  }

  .error h1 {
    scale: 5;
  }

  .errorText {
    scale: 1
  }
}

@media only screen and (max-device-width: 480px){
  input,
  textarea {
      border: 2px solid var(--darkSecondary) !important;
      border-radius: 20px !important;
      caret-color: var(--darkSecondary);
  }

  label {
      top: 0;
  }
}

@media only screen and (max-device-width: 480px) and (orientation: landscape) {
  dialog {
    min-height: 100dvh;
  }
}
