.container {
    margin-top: 1.5rem;
    display: grid;
    gap: 2.5rem;
    padding: 1rem;
}

.container section {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.container h1 {
    margin-bottom: 1rem;
    font-size: xx-large;
    width: 100%;
}

.animeList {
    display: flex;
    height: 100%;
    overflow-x: scroll;
    gap: 2.5rem;
}
