.container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.animeList {
    display: flex;
    /* border: 1px solid red; */
    height: 100%;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    gap: 2.5rem;
}