/* 
    Prevent dialog element from breaking by setting display 
    only on open
*/
.container[open] {
    display: flex;
    align-items: center;
}

.container {
   margin: auto;
   width: 80vw;
   overflow: hidden;
   gap: 1rem;
   max-width: 720px;
   border-radius: 20px;
   border: 0;
   background-color: rgb(21,21,21);
   position: relative;
   height: max-content;
   padding: 2rem 0;
}

.container::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
}

.btn {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    gap: 0.5rem;
}



@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;
    }
}