.episodes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    max-width: 90dvw;
    gap: 1rem;
    justify-content: center;
}

.card {
    height: max-content;
    opacity: 0.5;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.card:hover {
    opacity: 1;
}

.selected {
    opacity: 1;
}

@media screen and (min-width: 800px) {
    .episodes {
        display: grid;
        padding: 1rem;
        height: 100dvh;
    }
}