.card {
    display: flex;
    flex-direction: column;
    width: clamp(50px, 50vw, 250px);
    /* border: 5px solid yellow; */
    aspect-ratio: 98 / 138;
    background-image: var(--img);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    justify-content: flex-end;
}

.text {
    background-color: hsla(0, 0%, 8%, 0.75);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    /* filter: drop-shadow(0px -26px 10px hsla(0, 0%, 8%, 0.75)); */
    backdrop-filter: blur(4px) ;
    height: min-content;
    color: white;
    padding: 0.5rem;
    display: grid;
    gap: 1rem;
}

.text h3,
.text h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.epCard {
    /* border: 2px solid black; */
    /* width: 80%;
    max-width: 200px; */
    aspect-ratio: 3 / 2;
    /* padding: 1rem; */
    /* background-color: #151515;
    border-radius: 10px; */
    margin: 1rem 0;
    background-blend-mode: soft-light;
    box-shadow: inset 0px 0px 5px 5px rgba(24, 24, 24, 0.5);
}

.epCard .text {
    font-size: small;
}

@media screen and (max-width: 720px) {
    .card {
        font-size: small;
    }
}

