.addComment {
    border: 1px solid rgba(0, 0, 0, 0.64);
    width: 95%;
    height: 1rem;
    background-color: #151515;
    white-space: pre-wrap;
    resize: none;
    transition: all 200ms ease;
    padding: 1rem;
    justify-self: center;
    border-radius: 10px;
    z-index: 2;
    position: relative;
}

.addComment:focus,
.addComment:not(:placeholder-shown) {
    height: 5rem;
    outline: none;
}


.btns {
    justify-content: right;
    display: none;
    opacity: 1;
    translate: 0 -20px;
    gap: 1rem;
}

.btns button {
    position: relative;
    width: 5rem;
    height: 2rem;
    background-color: #151515;
    border-radius: 10px;
    border: none;
    z-index: 0;
}

.btns button:hover {
    cursor: pointer;
    opacity: 1;
}

.addComment:focus + .btns,
.addComment:not(:placeholder-shown) + .btns {
    display: flex;
    translate: 0 0;
}