/* ???????? */
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2rem;
    min-height: 50vh;
}

.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: 2rem;
}

.textOne {
    display: grid;
    gap: 2rem;
    place-items: center;
}

.textOne > h1 {
    justify-self: left;
}

.form,
.details {
    width: 50%;
    height: 100%;
}

.details {
    margin: auto 0;
}

.details h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.details i {
    opacity: 0.5;
    font-weight: 300;
}

.textTwo > div:first-child {
    margin-bottom: 2rem;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem;
}

.form img {
    width: 50%;
    aspect-ratio: 1 / 1;
}

.btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.form > button {
    opacity: 0.5;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: transparent;
}

.form > button:hover {
    opacity: 1;
}

.textField {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.textField label {
    position: absolute;
    opacity: 0.5;
    padding-left: 10px;
    z-index: -1;
    -webkit-transition: translate 200ms ease;
    -o-transition: translate 200ms ease;
    transition: translate 200ms ease;
}

.textField input {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.textField input:focus {
    outline: none;
}


.textField input:focus + label,
.textField input:not(:placeholder-shown) + label {
    opacity: 1;
    translate: 0 -1.5em;
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                gap: 3rem;
    }
    
    .form > img,
    .details > span:first-child {
        display: none;
    }

    .details {
        text-align: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .textTwo > div:first-child {
        font-size: x-large;
    }

    .textTwo > div:last-child {
        font-size: small;
    }

    .form,
    .details {
        width: 100%;
    }
}

@media only screen and (max-device-width: 480px) and (orientation: landscape) {
    .details {
        scale: 0.9
    }

    .form {
        scale: 0.8
    }
}