.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.textField {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.textField label {
    position: absolute;
    opacity: 0.5;
    padding-left: 10px;
    z-index: 1;
    -webkit-transition: translate 200ms ease;
    -o-transition: translate 200ms ease;
    transition: translate 200ms ease;
}

.textarea,
.textField input {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.textarea {
    resize: none;
    aspect-ratio: 16 / 9;
    width: 200px;
    max-height: 15rem;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.textarea:focus,
.textField input:focus {
    outline: none;
}

.textarea:focus,
.textarea:not(:placeholder-shown) {
    width: 75%;
}

.textField input:focus + label,
.textField input:not(:placeholder-shown) + label {
    opacity: 1;
    translate: 0 -1.5em;
    z-index: 1;
}


.btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--darkSecondary);
    gap: 1rem;
}

.btns > * {
    font-size: large;
    background-color: var(--darkSecondary);
}