.container {
    text-align: center;
    display: grid;
    gap: 1rem;
}

.container > h1, .container > h1 > span {
    font-size: x-large;
}

.container > h1 > span {
    color: var(--secondary);
}

.recommendations {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}