.na {
    text-transform: uppercase;
    opacity: 0.5;
    margin: 1rem 0;
}

.container {
    text-align: center;
    text-transform: uppercase;

    display: grid;
    justify-content: center;
    gap: 1rem;

    overflow-x: hidden;
}

.status {
    color: var(--secondary);
}

.countdownContainer {
    display: flex;
    gap: 1rem;
}

.boxy {
    flex: 1;

    text-align: center;
    min-width: 100px;
    padding: 0.75rem 0.5rem;

    border: 2px solid var(--darkSecondary);
    border-radius: 20px;
}

.boxy > div:first-child {
    font-size: x-large;
    color: color-mix(in srgb, var(--secondary) 50%, white)
}

.boxy > div:nth-child(2) {
    font-size: smaller;
}

.airingDate {
    text-align: center;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .boxy {
        min-width: 50px;
    }

    .boxy > div:first-child {
        font-size: medium;
    }

    .boxy > div:nth-child(2) {
        font-size: x-small;
    }
}