.nav {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    background-color: var(--primary);
    align-items: center;
    width: 100vw;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.nav > a {
    font-size: larger;
    font-weight: 900;
}

@media (max-width: 640px) {
    .nav > a {
        font-size: medium;
    }
}