.nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
    align-items: center;
    width: 100vw;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav > a > h1 {
    color: var(--secondary);
    filter: drop-shadow(0 0 7px var(--darkSecondary));
    transition: all 200ms ease;
}

.nav > a > h1:hover {
    filter: drop-shadow(0 0 10px var(--darkSecondary))
}

@media (max-width: 640px) {
    .nav > a > h1 {
        font-size: larger;
    }
}