/* 
    Prevent dialog element from breaking by setting display 
    only on open
*/
.container[open] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container {
    width: 80vw;
    overflow: hidden;
    gap: 1rem;
    max-width: 720px;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 2rem 0;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    gap: 0.5rem;
    font-size: large;
    font-weight: 500;
}

.btn:hover {
    scale: 1;
}

@media screen and (max-width: 640px) {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .btn {
        font-size: medium;
    }
}